---
layout: default
class: home
hide_breadcrumbs: true
title: Elige una licencia de código abierto
permalink: /
---

<h2>
  <span>{</span>
  ¿Qué opción describe mejor tu situación?
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="whatever">
    <a href="licenses/mit">
     
      <h3>Quiero una licencia simple y permisiva</h3>
    </a>
    <p>
      La <a href="licenses/mit">Licencia MIT</a> es una licencia permisiva que es corta y directa. Le permite a la gente hacer todo lo que quieran con su código, siempre y cuando te proporcionen la atribución de nuevo a ti y no te mantiene responsable.
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="patents">
    <a href="licenses/apache-2.0/">
    
      <h3>Me preocupan las patentes</h3>
    </a>
    <p>
      
      La Licencia de <a href="licenses/apache-2.0/">Apache 2.0</a> es una licencia permisiva similar a la Licencia del MIT, pero también proporciona una concesión expresa de derechos de patente de los contribuyentes a los usuarios.
    </p>
    <p>
      {% include using-sentence.html license-id="apache-2.0" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
   
      <h3>Me importa compartir mejoras</h3>
    </a>
    <p>
      La <a href="licenses/gpl-3.0/">GNU GPLv3</a> es una licencia de "copyleft" que requiere que cualquier persona que distribuya su código o un trabajo derivado haga que la fuente esté disponible bajo los mismos términos, y también proporciona una concesión expresa de derechos de patente de los contribuyentes a los usuarios.
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  ¿Y si mi situación es distinta?
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>Mi proyecto no es software</h3>
    <p>
      <a href="non-software">Hay una licencia para esto</a>.
    </p>
  </li>
  <li>
    <h3>Quiero más opciones</h3>
    <p>
      <a href="licenses">Ver otras licencias</a>.
    </p>
  </li>
  <li>
    <h3>No quiero una licencia...</h3>
    <p>
      <a href="no-license">Bueno, no tienes por que hacerlo</a>.
    </p>
  </li>
</ul>
